<<<<<<< HEAD
#root{
  height:100%;
}
.m-header{
  z-index:100;
  width:100%;
  height:.44rem;
  background-color:#31313C;
  position:relative;
  @include flexbox();
  padding-left:.1rem;
  .header_logo{
    margin:auto 0;
    width:.65rem;
    height:.2rem;
    img{
      width:100%;
      height:100%;
    }
  }
  .header_right{
    position:absolute;
    @include flexbox();
    right:0;
    height:100%;
    width:1.8rem;
    padding-top:.07rem;
    a{
      @include flex();
      display:block;
      height:100%;
      text-align:center;
      img{
        display:block;
        margin:0 auto;
        width:.3rem;
        height:.3rem;
      }
    }
  }
};
.yo-scroller{
  touch-action:none;
}
.m-mask{
  display:none;
  margin-top:.44rem;
  position:absolute;
  width:100%;
  height:100%;
  .mask_shade{
    position:absolute;
    background-color:rgba(0,0,0,.6);
    width:100%;
    height:100%;
  }
  .search_box{
    position:absolute;
    background-color:#fff;
    z-index:99;
    width:100%;
    .md-content{
      width:100%;
      .search-t{
        height:.48rem;
        width:100%;
        @include flexbox();
        .input-box{
          @include flex();
          padding:.12rem 0 0 .12rem;
          width:100%;
          position:relative;
          .go-search-box{
            input{
              width:100%;
              height:.24rem;
              background-color:#ededed;
              @include border-radius(.2rem);
              padding-left:.42rem;
              color:#4F494B;
              border:0;
            }
            i{
              display:block;
              position:absolute;
              left:.24rem;
              top::.18rem;
              width:.12rem;
              height:.12rem;
              background-image:url(/images/search1.png);
              background-size:100%;
            }
          }
        }
        .clear-search{
          width:.5rem;
          line-height:.48rem;
          font-size:.14rem;
          text-align:center;
        }
      }
    }
  }
  .category-list{
    height:3.36rem;
    overflow-y:scroll;
    .item{
      @mixin item{
        height:.48rem;
        overflow:hidden;
        padding-left:.15rem;
        line-height:.48rem;
        @include border(1px 0 0 0,#e6e6e6);
      }
      .t{
        @include item();
        position:relative;
        i{
          position:absolute;
          right:.16rem;
          top:.12rem;
          width:.22rem;
          height:.22rem;
          background-image:url(/images/arrows.png);
          background-size:100%;
        }
      }
      ul{
        display:none;
        li{
          @include item();
          a{
            padding-left:.2rem;
            color:#4F494B;
            font-size:.13rem;
          }
        }
      }
    }
  }
}
@font-face {
  font-family: 'yofont';
  src:
  url('/iconfonts/iconfont.woff') format('woff'),
  url('/iconfonts/iconfont.ttf') format('truetype'),

}
=======
$base-color: #00b38a;

#root {
  height: 100%;
  width: 100%;
}

@import "../fragment/yo-header";

@include yo-header(
  $bgcolor: #31313C,
  $color: #fff,
  $font-size: .16rem,
  $item-ico-color: #fff
){
  font-weight: normal;
  height:.56rem;
  line-height:.56rem;
  .regret {
    right: 0;
    left: auto;
  }
}
ul,ol{
  list-style: none outside none;
}
a{
  text-decoration: none;
  color:#4f494B;
}
a,img{
  vertical-align: top;

}
img{
  border:0;
}
>>>>>>> origin/20170419-baixiaomei
