.m-discovery{
  @include flexbox();
  @include flex-direction(column);
  height:100%;

    .section{
      @include flex();
      overflow:hidden;
      width:100%;
        .nav-list{
          overflow-x: scroll;
          background:#fff;
          width:100%;
          height:.42rem;
            .name{
              width:5rem;
              height:.42rem;
              line-height:.42rem;
              white-space: nowrap;
                li{
                  display:inline-block;
                  padding-left:.11rem;
                  padding-right:.11rem;
                    a{
                      font-size:12px;
                      color:#7c7c7c;
                      @include border(0 0 3px 0,#ffffff,solid);
                      padding-bottom:.12rem;
                    }
                }
                .active{
                  color:#a8554d;
                    a{
                      color:#a8554d;
                      @include border(0 0 3px 0,#a8554d,solid);
                    }
                }
            }
        }
        .content{
          height:100%;
          overflow-y: scroll;

          .dis-content{
            padding:.1rem;
            width:100%;
            background:#f2f2f2;
              dl{
                height:3.17rem;
                background:#fff;
                border-radius:.05rem;
                margin-bottom:.1rem;
                box-shadow: 2px 2px 2px 2px #eeeeee;
                  .theme{
                    height:.41rem;
                    font-size:.12rem;
                    margin-left:.32rem;
                    color:#919191;
                    line-height:.41rem;
                  }
                  dt{
                    height:1.71rem;
                      img{
                        width:100%;
                        height:100%;
                      }
                  }
                  .title{
                    width:100%;
                    height:.36rem;
                    font-size:.16rem;
                    color:#424242;
                    padding-top:.2rem;
                    padding-left:.1rem;

                      p{
                        margin-bottom:0;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow:hidden;
                      }
                  }
                  .intro{
                    width:100%;
                    height:.32rem;
                    font-size:.12rem;
                    padding-top:.2rem;
                    padding-left:.1rem;
                    color:#8e8e8e;
                      p{
                        margin-bottom:0;
                      }
                  }
              }
          }
        }

    }
}
