@charset "UTF-8";
@import "../fragment/yo-header";

i,em{
  font-style: normal;
}
a{
  text-decoration: none;
  color:#4F494B;
}
  .u-hotlist{
    width:100%;
    height:100%;
    @include flexbox();
    @include flex-direction(column);
      .u-content{
        // @include flex();
        @include flexbox();
        @include flex-direction(column);
        height:100%;
        width:100%;
          .seckill_nav{
            height:.48rem;
            text-align:center;
            width:100%;
            background:#1F222A;
            // @include flexbox();
              div{
                // @include flex();
                display:inline-block;
                width:1.25rem;
                height:.48rem;
                font-size:12px!important;
                color:#fff;
                padding-top:.1rem;
                .mt10{
                  font-size:12px!important;
                }
                p{
                  font-size:12px!important;
                }
              }
              .active{
                background:#B93A2C;
              }
          }
          .over_time{
            width:100%;
            height:.36rem;
            line-height: .36rem;
            padding:0 .1rem;
            font-size:13px;
            color:#4F494B;
            background:#F8F8F8;
              .time{
                float:right;
              }
          }
          .seckill_box{
            overflow-y: scroll;
            width:100%!important;
            @include flex();
            // padding-top:.84rem;
                ul{
                  height:100%;
                  .yo-scoller{
                    height:100%;
                  }
                }
              .yo-list{
                height:100%;
                width:100%;
                .item{
                  @include flexbox();
                  overflow:hidden;
                  background:#fff;
                  padding:.15rem .16rem .15rem .12rem;
                  @include border(0 0 1px 0,#DEDEDE,solid);
                  position:relative;
                    li{
                      width:100%;
                      height:100%;
                    }
                    .img{
                      width:.88rem;
                      height:.88rem;
                      float:left;
                      z-index:2;
                      margin-right:.17rem;
                        a{
                          text-decoration: none;
                          color:#4F494B;
                            img{
                              width:100%;
                            }
                        }
                    }
                    .g-info{
                      position:relative;
                        .name{
                          margin-top:.08rem;
                          font-size:13px;
                          overflow:hidden;
                          height:.32rem;
                          text-overflow: ellipsis;
                          line-height:.16rem;
                          -webkit-line-clamp: 2;
                          -webkit-box-orient: vertical;
                            a{
                              font-size: 13px;
                              color:#4F494B;
                            }
                        }
                        .price{
                          color:#E74C3C;
                          margin-top:.18rem;
                          font-size:12px;
                            .now{
                              font-size: 16px;
                            }
                            .old{
                              text-decoration: line-through;
                              color:#BEBDBB;
                              margin-left:.08rem;
                            }
                        }
                    }
                    .buy_btn{
                      position:absolute;
                      right:.16rem;
                      bottom:.28rem;
                      height:.34rem;
                      line-height:.34rem;
                      color:#fff;
                      text-align: center;
                      background:#B93A2C;
                      border-radius: .05rem;
                        a{
                          display:block;
                          font-size:13px;
                          color:#fff;
                          padding:0 .15rem;
                        }
                    }
                }
              }
          }
          .loading{
            text-align:center;
            line-height:.5rem;
            height:.5rem;
          }
      }
  }
