@charset "UTF-8";
// @import "../fragment/yo-header";
#root1{
  height:100%;
  width:100%;
  .u-hotlist{
    @include flexbox();
    @include flex-direction(column);
    height:100%;
    width:100%;
    .header{
      @include yo-header(
        $bgcolor:#31313C,
        $color: #fff,
        $font-size: .16rem,
        $item-ico-color: #fff
      ){
        font-weight: normal;
        height:.56rem;
        line-height:.56rem;
        .regret {
          right: 0;
          left: auto;
        }
      }
    }
      .u-content{
        @include flex();
        @include flexbox();
        @include flex-direction(column);
        width:100%;
          .seckill_nav{
            height:.48rem;
            text-align:center;
            width:100%;
            background:#1F222A;
            @include flexbox();
              div{
                @include flex();
                color:#fff;
              }
              .act{
                background:#B93A2C;
              }
          }
          .over_time{
            width:100%;
            height:.36rem;
            line-height: .36rem;
            padding:0 .1rem;
            font-size:.13rem;
            color:#4F494B;
            background:#F8F8F8;
              .time{
                float:right;
              }
          }
          .seckill_box{
            width:100%!important;
            @include flex();
            // padding-top:.84rem;
              ul{
                width:100%;
                li{
                  overflow:hidden;
                  background:#fff;
                  padding:.15rem .16rem .15rem .12rem;
                  @include border(0 0 1px 0,#DEDEDE,solid);
                  position:relative;
                }
              }
          }
          .loading{
            text-align:center;
            line-height:.5rem;
            height:.5rem;
          }
      }
  }
}
