#root {
    width: 100%;
    height: 100%;

    > div {
        width: 100%;
        height: 100%;
  }
}
        .m_login {
            width: 100%;
            height: 100%;
            background-image: url("http://m.ujipin.com/media/images/login_01.jpg");
            background-size: 100%;

            .Arrow {
                position: absolute;
                left: 0.10rem;
                top: 0.30rem;
                text-align: center;
                width: 0.36rem;
                height: 0.36rem;

                img {
                    margin-top: 0.12rem;
                    display: inline-block;
                    width: 0.16rem;
                    height: 0.16rem;
                }
            }

            .login-items {
                position: absolute;
                top: 20%;
                left: 0.20rem;
                right: 0.20rem;
                bottom: 0;

                input::-webkit-input-placeholder {
                    color: #ddd;
                }

                .login-id {
                    text-align: center;
                    margin-top: 10%;
                    display: block;
                    width: 100%;
                    color: #fff;

                    span {
                        color: #fff;
                        vertical-align: middle;
                        font-size: .14rem;
                    }

                    em {
                        display: inline-block;
                        vertical-align: middle;
                        background-image: url("http://m.ujipin.com/media/images/icon30.png");
                        margin-left: .08rem;
                        background-size: 100%;
                        width: .16rem;
                        height: .16rem;
                    }
                }

                .tips-phone {
                    margin-top: 0.05rem;
                    width: 100%;
                    height: 0.40rem;
                    font-size: 0.12rem;
                    color: #fff;
                    text-align: center;

                    > p {
                      width:100%;
                        height: 0.24rem;

                        > a {
                            color: #fff;
                            text-decoration: underline;
                        }
                    }
                }

                .sr-hide {
                    text-align: center;
                    width: 100%;
                    height: 0.16rem;
                    color: #fff;
                    visibility: hidden !important;
                    opacity: 0 !important;
                }

                .login-btn {
                    margin-top: 0.10rem;
                    width: 100%;
                    height: 0.44rem;
                    background: #e74c3c;
                    color: #fff;
                    border: 0;
                    border-radius: 0.05rem;
                    font-size: 0.16rem;
                    text-align: center;
                }

                .mobile,
                .passW {


                    vertical-align: top;
                    font-size: 0.13rem;
                    display: inline-block;
                    width: calc(100% - .58rem);
                    height: 0.31rem;
                    padding-left: 0.05rem;
                    margin-top: 0.08rem;
                    margin-bottom: 0.01rem;
                    background: none;
                    border: 0;
                    border-bottom: .01rem solid #bbb;
                    color: #bbb;
                }

                .items {
                    position: relative;
                    width: 100%;
                    height: 0.48rem;

                    .getcode {
                        border-radius: 0.10rem;
                        position: absolute;
                        top: 0.13rem;
                        right: 0.15rem;
                        padding: 0 0.02rem;
                        background: #000;
                        width: 0.68rem;
                        height: 0.20rem;
                        color: #fff;
                        text-align: center;
                        font-size: 0.12rem;
                        line-height: 0.20rem;
                    }

                    .iocn {
                        display: inline-block;
                        width: 0.48rem;
                        height: 0.48rem;
                        text-align: center;

                        > em {
                            display: inline-block;
                            margin-top: 0.13rem;
                            width: 0.24rem;
                            height: 0.24rem;
                            background: url("http://m.ujipin.com/media/images/icon14.png");
                            background-size: 100%;
                        }
                    }

                    .iocn-phone {
                        display: inline-block;
                        width: 0.48rem;
                        height: 0.48rem;
                        text-align: center;

                        > em {
                            display: inline-block;
                            margin-top: 0.13rem;
                            width: 0.24rem;
                            height: 0.24rem;
                            background: url("http://m.ujipin.com/media/images/icon29.png");
                            background-size: 100%;
                        }
                    }
                }
            }
        }
