#root{
  width:100%;
  height:100%;
  >div{
    width:100%;
    height:100%;
  }
  }
    .m_login{
      width:100%;
      height:100%;
      background-image:url(http://m.ujipin.com/media/images/login_01.jpg);
      background-size:100%;
      .Arrow{
        position: absolute;
        left:.10rem;
        top:.30rem;
        text-align: center;
        width:.36rem;
        height:.36rem;
        img{
          margin-top: .12rem;
          display:inline-block;
          width:.16rem;
          height:.16rem;
        }
      }
      .login-items{
        position: absolute;
        top:20%;
        left:.20rem;
        right:.20rem;
        bottom: 0;
        input::-webkit-input-placeholder{
          color:#ddd;
        }
        .third-qq{
          width:100%;
          height:.50rem;
          display: block;
          .third-btn{

            width:.50rem;
            height:.50rem;
            margin: 0 auto;
            display: block;
            background: url(http://m.ujipin.com/media/images/qq.png)no-repeat;
            background-size: 100%;
            a{
              width:100%;
              height:100%;
              display: block;
              text-decoration: none;
            }
          }
        }
        .list_title{
          text-align: center;
          position: relative;
          width: 1.80rem;
          font-size: .14rem;
          line-height: .20rem;
          margin: .40rem auto .20rem;
          color: #fff;
          .l{
            position: absolute;
            left: .20rem;
            top: 50%;
            width: .20rem;
            height: .01rem;
            background: #fff;
          }
          .r{
            position: absolute;
            right: .20rem;
            top: 50%;
            width: .20rem;
            height: .01rem;
            background: #fff;
          }
        }
        .sr-hide{
          text-align: center;
          width:100%;
          height:.16rem;
          color:#fff;
          visibility: hidden !important;
          opacity: 0 !important;
        }
        .login-bt{
          margin-top:.30rem;
          width:100%;
          height:.44rem;
          background:rgba(0,0,0,0.35);
          color:rgba(255,255,255,0.7);
          border:0;
          border-radius:.05rem;
          font-size: .16rem;
          text-align: center;

        }
        .mobile,
        .passW {


            vertical-align: top;
            font-size: 0.13rem;
            display: inline-block;
            width: calc(100% - .58rem);
            height: 0.31rem;
            padding-left: 0.05rem;
            margin-top: 0.08rem;
            margin-bottom: 0.01rem;
            background: none;
            border: 0;
            border-bottom: .01rem solid #bbb;
            color: #bbb;
        }

        .items{
          position: relative;
          width:100%;
          height:.48rem;
          .iocn{
            display:inline-block;
            width:.48rem;
            height:.48rem;
            text-align: center;
            >em{
              display:inline-block;
              margin-top: .13rem;
              width:.24rem;
              height:.24rem;
              background:url(http://m.ujipin.com/media/images/icon14.png);
              background-size:100%;
            }
      }
      .iocn-pho{
        display:inline-block;
        width:.48rem;
        height:.48rem;
        text-align: center;
        >em{
          display:inline-block;
          margin-top: .13rem;
          width:.24rem;
          height:.24rem;
          background:url(http://m.ujipin.com/media/images/icon15.png);
          background-size:100%;
        }

    }
        }

  }
}
