@charset "UTF-8";

.m-SearchList{
  @include flexbox();
  @include flex-direction(column);
  .searchList{
    @include flex();
    @include flexbox();
    @include flex-direction(column);
    width:100%;
    .search-box{
      height:1rem;
      width:100%;
      background-color:#fff;
      .title{
        height:.5rem;
        background-color:#fff;
        line-height:.5rem;
        font-size:.14rem;
        color:#828282;
        text-align:center;
        margin-down:2.8%;
      }
      .retrieval{
        @include flexbox();
        height:.5rem;
        background-color:#fff;
        padding:0 2.8%;

        a{
          color:#000;
          display:block;
          @include flex();
          span{
            display:block;
            width:100%;
            height:100%;
            text-align:center;
            line-height:.5rem;
            font-size:.12rem;
          }
        }
        .active{
          color:#f99;
        }
      }

      }
      .goods-list{
        @include flex();
        height:100%;
        width:100%;
        padding:0 .05rem 0 0;
        ul{
          height:100%;
          .yo-scoller{
            height:100%;
          }
        }
        .yo-list{
          width:100%;
          @include flexbox();
          overflow:hidden;
          @include flex-wrap(wrap);
          .item{
            background:#eee;
            width:50%;
            height:2.79rem;
            overflow:hidden;
            position:relative;
            margin-top:2%;
            font-size:.13rem;
            border-radius:.05rem;
            padding:0 0 0 .05rem;
              .track{
                display:block;
                  .lazyload{
                    width:100%;
                  }
              }
              .goodList_info{
                background:#fff;
                .selling_point{
                  padding:.05rem .08rem 0;
                  height:.2rem;
                  overflow:hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                }
                .g-name{
                  line-height: .16rem;
                  height:.32rem;
                  margin:.08rem 0;
                  padding:0 .08rem;
                  overflow:hidden;
                }
                .g-price{
                  height:.23rem;
                  padding:0 .08rem .08rem;

                  color:#E74C3C;
                    .g-market{
                      font-size:.12rem;
                      color:#BEBDBB;
                      margin-left:.1rem;
                      text-decoration: line-through;
                    }
                }
                .no_stock{
                  position:absolute;
                  width:.78rem;
                  height:.78rem;
                  background:rgba(0,0,0,0.6);
                  left:50%;
                  top:50%;
                  margin-left:-0.39rem;
                  margin-top:-0.73rem;
                  border-radius: 50%;
                  color:#fff;
                  text-align:center;
                  line-height:.78rem;
                  font-size:14px;
                }
                .hide{
                  display:none;
                }

              }
         }
      }
    }
  }
}
