.m-tabbar{
  width:100%;
  height:.5rem;
  @include flexbox();
  background-color:#c59591;
  opacity:.5;
  div{
    @include flex();
    height:100%;
    a{
      display:block;
      @include flexbox();
      @include flex-direction(column);
      justify-content:center;
      text-align:center;
      padding-bottom:.09rem;
      width:100%;
      color:#fff;
      font-weight:bold;
      span{
        font-size:.1rem;
      }
      i{
        font-size:.2rem;
      }
    }
    .active {
      color:#000;
    }
  }
}
